#**
 *  View of a single solr document
 *#

#parse('doc_shortcuts.vm')

<div class="doc-thumb-box">
  <a href="$urlItem"><img src="$urlThumbnail" height="100" width="100" align="center"></a>
</div>
<div class="doc-view">
<div class="doc-title">
  ## Title, hyperlinked
  <a href="$urlItem" target="_blank">
    <b>$title</b></a>
</div>

#if($doc.getFieldValue('campus'))
  <h3>Campus:</h3>
#foreach ( $campus in $doc.getFieldValue('campus') )
$campus<br/>
#end
#end

#if($doc.getFieldValue('repository'))
  <h3>Repository:</h3>
#foreach ( $repository in $doc.getFieldValue('repository') )
$repository<br/>
#end
#end

#if($doc.getFieldValue('collection_name'))
  <h3>Collection:</h3>
 #field('collection_name')
#end

#if($doc.getFieldValue('publisher'))
  <h3>Published by:</h3>
#foreach ( $publisher in $doc.getFieldValue('publisher') )
$publisher<br/>
#end
#end

#foreach( $fieldName in $doc.fieldNames )
  #set($rgxSS = ".*_ss$")
  #if(!$fieldName.matches($rgxSS))
  #if($fieldName != 'campus' && $fieldName != 'repository' && $fieldName != 'publisher')
  #if($fieldName != 'collection_name' && $fieldName != 'title')
  #if($fieldName != 'id' && $fieldName != 'timestamp' && $fieldName != '_version_')
  #if($fieldName != 'url_thumbnail')
  <h3>$fieldName</h3>
    #foreach( $value in $doc.getFieldValues($fieldName) )
      $value<br/>
    #end
  #end
  #end
  #end
  #end
  #end
#end

</div>

<div class="mlt-box">
#set($mlt = $mltResults.get($docId))
  #if($mlt && $mlt.size() > 0)
    <ul>
      #foreach($mltHit in $mlt)
        #set($mltId = $mltHit.getFieldValue('id'))
        <li>
          <div>
            <a href="#{url_for_view}?q=id:$mltId">
              $mltId</a>
          </div>
          <div>
            <span class="field-name">
              Title:
            </span>
            $mltHit.getFieldValue('title')
          </div>
          <div>
          <!--  <span class="field-name">
              Creator:
            </span>
            $mltHit.getFieldValue('creator')
-->
            <span class="field-name">
              Description:
            </span>
            $mltHit.getFieldValue('description')
          </div>
        </li>
      #end    ## end for each mltHit in $mlt
    </ul>
  #end
</div>
