# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
    set +u #the ec2 attempts to access PS1 which is unset for non-interactive
    . /etc/bashrc
fi

# User specific aliases and functions
if [ -f ~/appstrap/setenv.sh ]; then
	. ~/appstrap/setenv.sh
fi

if [ -f ~/.tomcat-setenv.bash ]; then
	. ~/.tomcat-setenv.bash
fi

if [ -f ~/.bash-aliases ]; then
	. ~/.bash-aliases
fi

if [ -f ~/.rvm/scripts/rvm ]; then
	. ~/.rvm/scripts/rvm
        rvm use 2.0.0
fi

user=`who -m | awk '{ print $1 }'`

if [ -e $HOME/.bashrc-${user} ]; then
  . "$HOME/.bashrc-${user}"
fi

{% if ansible_os_family|lower == 'redhat' %}
#fix for non-standard ca-bundle location on redhat
export CURL_CA_BUNDLE=/etc/ssl/certs/ca-bundle.crt
{% endif %}
