[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
[user]
  name = Mark Redar
  email = mark.redar@ucop.edu
{% if ansible_os_family|lower == 'redhat' %}
[http]
  sslCAInfo = /etc/ssl/certs/ca-bundle.crt
{% endif %}
