chroot = /var/run/stunnel
setuid = nobody
setgid = nobody
pid = /etc/stunnel/stunnel.pid
client = yes
output = /etc/stunnel/log
cert = /etc/stunnel/stunnel.pem

[redis]
client = yes
accept = 6380
connect = {{ ingest_front_tunnel }]

