{% extends "httpd.conf.j2" %}

{% block appstrap %}

ProxyPass /{{ ansible_user_id }} ajp://{{ ansible_default_ipv4.address }}:8009/{{ ansible_user_id }}
<Location "/{{ ansible_user_id }}">
        AuthType shibboleth
        ShibRequestSetting requireSession 1
        ShibUseHeaders On
        Include {{ role_home_dir.stdout }}/users/users.httpd.txt
        # just in case users.httpd.txt is empty
        Require user
</Location>

RedirectMatch ^/$ /nuxeo/

{% endblock %}
