{% extends "httpd.conf.j2" %}

{% block listen80 %}
WSGISocketPrefix {{ role_home_dir.stdout }}/servers/httpd/run/
Listen 18880
<VirtualHost *:18880>
{% endblock %}

{% block listen443 %}
Listen 18443
<VirtualHost *:18443>
{% endblock %}

{% block appstrap %}
LoadModule wsgi_module {{ role_home_dir.stdout }}/python/lib/python3.6/site-packages/mod_wsgi/server/mod_wsgi-py36.cpython-36m-x86_64-linux-gnu.so
<Location "/admin">
  AuthType shibboleth
  ShibRequestSetting requireSession 1
  require valid-user
</Location>

<Location "/edit">
  AuthType shibboleth
  ShibRequestSetting requireSession 1
  require valid-user
</Location>

<Location /Shibboleth.sso> 
  SetHandler default-handler 
</Location> 

# reverse proxy
ProxyRequests Off
ProxyVia On
RewriteEngine on

# check for api key
# Include RewriteCond %{HTTP:x-api-key} from external file not in revision control
Include /apps/registry/users/api_key.conf
RewriteRule ^/solr/(query|browse|js)(.*) http://127.0.0.1:8080/solr/$1$2 [P]

# solrpy compatibility
Include /apps/registry/users/api_key.conf
RewriteRule ^/solr/(select)(.*) http://127.0.0.1:8080/solr/query$2 [P]

# otherwise; forbidden
RewriteRule ^/solr/(select|query|browse|js)(.*) http://127.0.0.1:8080/solr/$1$2 [F]

RedirectMatch ^/api$ /api/v1/
RedirectMatch ^/api/$ /api/v1/
RedirectMatch ^/solr$ /solr/query
RedirectMatch ^/solr/$ /solr/query

RedirectMatch ^/documentation/docs/dams/.*$ https://help.oac.cdlib.org/support/solutions/folders/9000174412
RedirectMatch ^/documentation/docs/technical/.*$ https://help.oac.cdlib.org/support/solutions/articles/9000101639-calisphere-api
RedirectMatch ^/documentation/.*$ https://help.oac.cdlib.org/support/home/


<Directory {{ role_home_dir.stdout }}/webroot>
  Order deny,allow
  Allow from all
</Directory>

<Directory {{ role_home_dir.stdout }}/code/avram/admin_bootstrap/static>
  Order deny,allow
  Allow from all
</Directory>

WSGIDaemonProcess registry processes=2 threads=15 python-home={{ role_home_dir.stdout }}/python python-path={{ role_home_dir.stdout }}/code/avram:{{ role_home_dir.stdout }}/python/lib/python3.6/site-packages:{{ role_home_dir.stdout }}/python/lib/python3.6/dist-packages
WSGIProcessGroup registry

WSGIScriptAlias / {{ role_home_dir.stdout }}/code/avram/collection_registry/wsgi.py

<Directory /apps/registry/code/avram/collection_registry>
  Order allow,deny
  Allow from all
</Directory>

RedirectMatch /documentation$ /documentation/
Alias /documentation/ {{ role_home_dir.stdout }}/webroot/ucldc-docs/ucldc.github.io/ucldc-docs/
Redirect /ucldc-docs/ /documentation/

LoadModule php7_module modules/libphp7.so
<FilesMatch \.php$>
    SetHandler application/x-httpd-php
</FilesMatch>
RedirectMatch /omeka-s$ /omeka-s/
Alias /omeka-s/ /apps/registry/code/omeka-s/
<Directory /apps/registry/code/omeka-s/>
  DirectoryIndex index.php
  AllowOverride All
  Order deny,allow
  Allow from all
</Directory>

{% endblock %}
