{% extends "httpd.conf.j2" %}

{% block appstrap %}
LoadModule wsgi_module lib/httpd/mod_wsgi.so
<Location "/admin">
  AuthType shibboleth
  ShibRequestSetting requireSession 1
  require valid-user
</Location>

<Location "/edit">
  AuthType shibboleth
  ShibRequestSetting requireSession 1
  require valid-user
</Location>

<Location /Shibboleth.sso> 
  SetHandler default-handler 
</Location> 

Alias /static/ {{ role_home_dir.stdout }}/code/avram/admin_bootstrap/static/
Alias /Logos/ {{ role_home_dir.stdout }}/webroot/Logos/

RedirectMatch ^/api$ /api/v1/
RedirectMatch ^/api/$ /api/v1/

<Directory {{ role_home_dir.stdout }}/webroot>
  Order deny,allow
  Allow from all
</Directory>

<Directory {{ role_home_dir.stdout }}/code/avram/admin_bootstrap/static>
  Order deny,allow
  Allow from all
</Directory>

WSGIDaemonProcess registry processes=2 threads=15 python-path=/apps/registry/code/avram/lib/python2.7/site-packages
WSGIProcessGroup registry

WSGIScriptAlias / {{ role_home_dir.stdout }}/code/avram/collection_registry/wsgi.py

<Directory /apps/registry/code/avram/collection_registry>
  Order allow,deny
  Allow from all
</Directory>

{% endblock %}
